
@{
    ViewBag.Title = "Home Page";
}

@using WebApplication3.Models
@model List<Category>


@*<div class="col-md-offset-7">@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)</div>*@

@foreach (var item in Model)
{

    var items = item.Products.Take(3).ToList();
    <div style="clear:both">
        <h2 class="title text-center"><a style="color:orange" onclick="location.href='@Url.Action("Index","CategoryUser",new { id=item.id})'">@item.name</a></h2>
        <div class="col-md-12 row">

            @foreach (var p in items)
            {

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="@p.image" alt="" width="150" />
                                <h2>Giá: @string.Format("{0:0,0}", @p.price)</h2>
                                <p>@p.name</p>
                                <a href="/Cart/ThemVaoGioHang/@p.id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                            @*<div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>Giá: @item.Price</h2>
                                        <p>@item.ProductName</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                </div>*@
                        </div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
}


