@model WebApplication3.Models.Category

@{
    ViewBag.Title = "Delete"; Layout = null;
}

<h3>Bạn có chắc chắn muốn xóa điều này?</h3>
<div>
    <h4>Loại sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-lg-offset-4">
            <input type="submit" value="Chấp nhận" class="btn btn-danger" />
        </div>
    }
</div>
