@model WebApplication3.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Loại sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Edit","Categories",new { id=Model.id})'">Sửa</button> |
    <button class="btn btn-info"  onclick="location.href='@Url.Action("Index", "Categories")'">Quay trở lại</button>
</p>
