@model IEnumerable<WebApplication3.Models.Supplier>

@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_LayoutPageADM.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { },new { @class="btn btn-primary"})
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td width="125">
            @Html.ActionLink(" ", "Edit", new { id=item.id },new { @class="btn btn-sm btn-success fa fa-pencil"})
            @Html.ActionLink(" ", "Details", new { id = item.id }, new { @class = "btn btn-sm btn-info fa fa-asterisk" })
            @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "btn btn-sm btn-danger fa fa-eraser" })
        </td>
    </tr>
}

</table>
