
@{
    ViewBag.Title = "Home Page";
}

@using WebApplication3.Models;
@model List<Product>
@{pjt3hEntities db = new pjt3hEntities(); }
<h2 class="title text-center">Danh sách sản phẩm</h2>
@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="@item.image" alt="" width="150" />
                    <h2>Giá: @string.Format("{0:0,0}", item.price)</h2>
                    <p>@item.name</p>
                    <a href="/giohang/ThemVaoGioHang/@item.id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                @*<div class="product-overlay">
                        <div class="overlay-content">
                            <h2>Giá: @item.Price</h2>
                            <p>@item.ProductName</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>*@
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
}